@use 'sass:map';

$black-100: #363139;
$black-200: #4B464E;
$black-400: #D9D0DF;
$white-100: #FFFFFF;
$white-200: #EBF1F4;
$primary-100: #4A65DC;
$primary-200: #8AB0E2;
$primary-300: #686991; 

$breakpoints: (
  'sm': 'screen and (max-width: 400px)',
  'md': 'screen and (max-width: 768px)',
  'lg': 'screen and (max-width: 1000px)',
  'xl': 'screen and (max-width: 1200px)',
) !default;
@mixin mq($breakpoint: md) {
  @media #{map.get($breakpoints, $breakpoint)} {
    @content;
  }
}
