@use 'sass:map';

$black-100: #363139;
$black-200: #4B464E;
$black-400: #E0E0E0;
$white-100: #FFFFFF;
$white-200: #F7F7F7;
$primary-100: #1a1a1a;
$primary-200: #555555;
$primary-300: #888888;

$breakpoints: (
  'sm': 'screen and (max-width: 400px)',
  'md': 'screen and (max-width: 768px)',
  'lg': 'screen and (max-width: 1000px)',
  'xl': 'screen and (max-width: 1200px)',
) !default;
@mixin mq($breakpoint: md) {
  @media #{map.get($breakpoints, $breakpoint)} {
    @content;
  }
}
